projects/agrofit-load-csv/flows.json
[
    {
        "id": "738ae533db3bed30",
        "type": "tab",
        "label": "Agrofit CSV Operations",
        "disabled": false,
        "info": "## Empty Flow\n\nBase for new integrations",
        "env": []
    },
    {
        "id": "9fbd60464dbbabaf",
        "type": "tab",
        "label": "Branches",
        "disabled": false,
        "info": ""
    },
    {
        "id": "bc5fea8c7e8be7ca",
        "type": "inject",
        "z": "738ae533db3bed30",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 165,
        "wires": [
            [
                "7f36340edf3f940f"
            ]
        ]
    },
    {
        "id": "7f36340edf3f940f",
        "type": "exec",
        "z": "738ae533db3bed30",
        "command": "./dockerRun.sh",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "scrapper-docker",
        "x": 425,
        "y": 165,
        "wires": [
            [
                "227eb83d4ec322fc",
                "8f13cea42be82e43"
            ],
            [
                "225f277c33bf0649"
            ],
            [
                "ade70e919478a927"
            ]
        ]
    },
    {
        "id": "227eb83d4ec322fc",
        "type": "debug",
        "z": "738ae533db3bed30",
        "name": "success",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1425,
        "y": 45,
        "wires": []
    },
    {
        "id": "225f277c33bf0649",
        "type": "debug",
        "z": "738ae533db3bed30",
        "name": "error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 270,
        "wires": []
    },
    {
        "id": "ade70e919478a927",
        "type": "debug",
        "z": "738ae533db3bed30",
        "name": "log success",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 805,
        "y": 405,
        "wires": []
    },
    {
        "id": "8f13cea42be82e43",
        "type": "exec",
        "z": "738ae533db3bed30",
        "command": "./csvProcessor.sh",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "produtos-formulados-bulk",
        "x": 1165,
        "y": 135,
        "wires": [
            [
                "227eb83d4ec322fc"
            ],
            [
                "225f277c33bf0649"
            ],
            [
                "ade70e919478a927"
            ]
        ]
    },
    {
        "id": "4363c238.bb2d5c",
        "type": "inject",
        "z": "9fbd60464dbbabaf",
        "name": "run",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "teste",
        "payloadType": "str",
        "x": 130,
        "y": 510,
        "wires": [
            [
                "b138f2df.49f82"
            ]
        ]
    },
    {
        "id": "5d631d88.3d70a4",
        "type": "debug",
        "z": "9fbd60464dbbabaf",
        "name": "debug",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 520,
        "y": 825,
        "wires": []
    },
    {
        "id": "b138f2df.49f82",
        "type": "file in",
        "z": "9fbd60464dbbabaf",
        "name": "load-csv",
        "filename": "/Users/edgar/Desktop/SKALENA/2023/AGROFIT/node-scrapping/dataset/6c913699-e82e-4da3-a0a1-fb6c431e367f/resource/a200c70b-e025-4a9a-be1b-ec7275d7921f/agrofitprodutostecnicos.csv",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "x": 125,
        "y": 660,
        "wires": [
            [
                "10bdb203.056f0e"
            ]
        ]
    },
    {
        "id": "10bdb203.056f0e",
        "type": "csv",
        "z": "9fbd60464dbbabaf",
        "name": "format-to-csv",
        "sep": ";",
        "hdrin": true,
        "hdrout": true,
        "multi": "mult",
        "ret": "\\n",
        "temp": "",
        "x": 150,
        "y": 735,
        "wires": [
            [
                "b3c46e24.cf38"
            ]
        ]
    },
    {
        "id": "b3c46e24.cf38",
        "type": "split",
        "z": "9fbd60464dbbabaf",
        "name": "for-each",
        "splt": ";",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": true,
        "addname": "topic",
        "x": 140,
        "y": 810,
        "wires": [
            [
                "3ed9a28c.bff78e"
            ]
        ]
    },
    {
        "id": "3ed9a28c.bff78e",
        "type": "json",
        "z": "9fbd60464dbbabaf",
        "name": "format-to-json",
        "pretty": false,
        "x": 150,
        "y": 900,
        "wires": [
            [
                "5d631d88.3d70a4",
                "ff0f1638.2395a8"
            ]
        ]
    },
    {
        "id": "a22f034a.da938",
        "type": "http request",
        "z": "9fbd60464dbbabaf",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "url": "http://localhost:38080/produtos-tecnicos",
        "tls": "",
        "x": 745,
        "y": 900,
        "wires": [
            [
                "2225ddfb.ae68e2"
            ]
        ]
    },
    {
        "id": "2225ddfb.ae68e2",
        "type": "join",
        "z": "9fbd60464dbbabaf",
        "name": "",
        "mode": "auto",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": "false",
        "timeout": "",
        "count": "",
        "x": 1070,
        "y": 930,
        "wires": [
            []
        ]
    },
    {
        "id": "ff0f1638.2395a8",
        "type": "function",
        "z": "9fbd60464dbbabaf",
        "name": "set-header",
        "func": "msg.headers = {};\nmsg.headers['Content-Type'] = 'application/json';\nmsg.headers['Accept'] = 'application/json';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 900,
        "wires": [
            [
                "a22f034a.da938"
            ]
        ]
    }
]